serverless.yml
service: step5-test-word

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20220515
  stage: ${opt:stage}
  region: ${opt:region}
  iam:
    role:
      name: "role-step5-test-wprd-dev"
      statements:
        - Effect: Allow
          Action:
          - "states:DescribeExecution"
          - "states:DescribeStateMachineForExecution"
          - states:StartExecution
          - states:UpdateStateMachine
          Resource: '*'

plugins:
  - serverless-offline
  - serverless-step-functions

functions:
  getHelloStep:
    handler: infraestructure/handlers/hello-handler.getHelloStep
    events:
      - http:
          path: hellostep       # https://dominio.fulanito/{stage}/hellostep
          method: get
  sf_step1:
    handler: infraestructure/handlers/step-one-handler.stepOneHandler
  sf_step2:
    handler: infraestructure/handlers/step-two-handler.stepTwoHandler
  sf_step3:
    handler: infraestructure/handlers/step-three-handler.stepThreeandler

stepFunctions:
  stateMachines:
    sfEnrollment:
      name: stepFunctions_test05
      definition:
        StartAt: sf_step1
        States:
          sf_step1:
            Type: Task
            Resource: 
              Fn::GetAtt: [sf_step1, Arn]
            ResultPath: "$"
            Next: sf_step2
          sf_step2:
            Type: Task
            Resource: 
              Fn::GetAtt: [sf_step2, Arn]
            InputPath: "$"
            ResultPath: "$"
            Next: sf_step3
          sf_step3:
            Type: Task
            Resource: 
              Fn::GetAtt: [sf_step3, Arn]
            InputPath: "$"
            ResultPath: "$"
            End: true