serverless.yml
service: step2-test-word

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20220515
  stage: ${opt:stage}
  region: ${opt:region}

plugins:
  - serverless-offline
  - serverless-step-functions

functions:
  getHello:
    handler: infraestructure/handlers/hello-handler.getHello
    events:
      - http:
          path: helloword       # https://dominio.fulanito/{stage}/empleados
          method: get
  sf_step1:
    handler: infraestructure/handlers/step-one-handler.stepOneHandler
  sf_step2:
    handler: infraestructure/handlers/step-two-handler.stepTwoHandler
  sf_step3:
    handler: infraestructure/handlers/step-three-handler.stepThreeandler

stepFunctions:
  stateMachines:
    sfEnrollment:
      #type: EXPRESS
      events:
        - http:
            path: hellostep
            method: GET
      name: stepFunctions_test04
      definition:
        StartAt: sf_step1
        States:
          sf_step1:
            Type: Task
            Resource: 
              Fn::GetAtt: [sf_step1, Arn]
            Next: sf_step2
          sf_step2:
            Type: Task
            Resource: 
              Fn::GetAtt: [sf_step2, Arn]
            Next: sf_step3
          sf_step3:
            Type: Task
            Resource: 
              Fn::GetAtt: [sf_step3, Arn]
            ResultPath: "$"
            OutputPath: "$"
            End: true